<div id="introText">
    <p>EAT-DA-BURGER</p>
</div>

<img id="introBurger" src="../public/assets/images/sonic-burger.jpg">

<div id="mobileBurgerHolder">
    <img id="mobileBurger" src="../public/assets/images/burger_logo.png">
</div>

<div id="inputForm">
    <p id="welcome">Welcome to Eat-Da-Burger</p>
    <p>Type in a burger you want to eat and then click Add Burger!</p>
    <form class="create-form">
        <div class="form-group">
            <textarea rows="6" type="text" id="bu" name="name"></textarea>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-dark" type="submit">Add a Burger</button>
        </div>
    </form>
</div>

<hr>

<div class="container" id="burgerLog">
    <div class="row">
        <div class="col">
            <p class="burgersHeader">To Eat</p>
            {{#if burger}}
            <ul id="burgersAdded">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burgerBlock devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
            {{/if}}
        </div>
        <div class="col">
            <p class="burgersHeader">Devoured</p>
            {{#if burger}}
            <ul id="burgersDevoured" class="alert alert-secondary">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burgerBlock devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
</div>